.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  line-height: 1;
  opacity: 1;
  background: rgba(3,8,29,.8);
  text-shadow: 0 0 3px #000;
  transition: opacity 0.5s ease;

  .content {
    position: absolute;
    width: 100%;
    height: 100%;
    //bottom: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.show {
  opacity: 1;
  transition: opacity 0.5s ease;
}