.player-form {

  flex: 0 1 auto;
  width: 490px;
  min-width: 300px;
  margin-right: auto;
  margin-left: auto;

  &-container {
    padding: 8px;
    margin-bottom: 8px;
    background-color: white;
    border-radius: 2px;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.5);

    .inputs {
      display: flex;

      #language-select {
        flex: 0 0 auto;
        margin-left: 8px;
        width: 108px;
      }
    }

    .play-button {
      margin-top: 8px;
    }

    .create-room-button {
      margin-top: 4px;
    }

    .joinRoomInput {
      display: flex;

      button {
        margin-left: 4px;
        width: 108px;
      }
    }
  }
}